body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

* {
  box-sizing: border-box; }

a {
  color: #00B7FF; }

.expediter, #container {
  height: 100%;
  overflow: hidden; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  width: 100%; }

.expediter .orders {
  width: 100%;
  background-color: gray;
  padding: 10px; }
  .expediter .orders .card {
    height: 300px;
    width: 270px;
    margin: 2px 0;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    display: inline-block;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2); }
    .expediter .orders .card h2,
    .expediter .orders .card .customer,
    .expediter .orders .card .courier,
    .expediter .orders .card .eta {
      padding: 10px; }
    .expediter .orders .card .customer,
    .expediter .orders .card .courier {
      height: 70px; }
    .expediter .orders .card h4 {
      margin: 0px;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .expediter .orders .card .customer,
    .expediter .orders .card .courier,
    .expediter .orders .card .eta {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd; }
      .expediter .orders .card .customer .label,
      .expediter .orders .card .courier .label,
      .expediter .orders .card .eta .label {
        font-weight: bold; }
    .expediter .orders .card .remove {
      width: 100%;
      height: 50px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer; }

.expediter .help {
  float: right;
  height: 50px;
  width: 200px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer; }

.expediter .modal {
  position: fixed;
  display: none;
  top: 20%;
  left: 30%;
  width: 500px;
  height: 120px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  padding: 10px; }
  .expediter .modal .cancel, .expediter .modal .confirm-ok {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: none;
    color: #fff; }
  .expediter .modal .cancel {
    background-color: #027D02; }
  .expediter .modal .confirm-ok {
    margin-right: 15px;
    background-color: #EC0606; }
